<h1>Sign up!</h1>

<form action="<%= users_url %>" method="POST">
  <label for="username">Username:
    <input id="username" type="text" name="user[username]">
  </label>
  <label for="password">Password:
    <input id="password" type="password" name="user[password]">
  </label>
  <br>
  <br>
  <button>Submit</button>
</form>